/* Your app styles here */
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page{
  background-color: white !important;
}

.fluid{
  width: 100%;
}

.center{
  text-align: center;
}

.navbar{
  height: 50px !important;
}

.item-title, .item-after{
  font-size: small !important;
}

.right{
  text-align: right !important;
}

.break-word {
  word-wrap: break-word;
}

.truncate {
  width: 200px;
  min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.bold{
  font-weight: bold;
}